In [ ]:
#Formação cientista de dados
#Limpeza e tratamento de Dados

In [ ]:
import pandas as pd
import seaborn as srn
import statistics as sts

In [ ]:
#importar dados
dataset = pd.read_csv('limpeza de dados/Churn.csv', sep=";")
#visualisar
dataset.head()

In [ ]:
#tamanho
dataset.shape

In [ ]:
#dando significado as colunas
dataset.columns = ["Id", "Score","Estado", "Gênero", "Idade", "Patrimônio", "Saldo", "Produtos", "TerCarCredito",
                   "Ativo", "Salário", "Saiu"]

In [ ]:
#visualisar
dataset.head()

In [ ]:
#explorar dados categorico
#estado
agrupado = dataset.groupby(['Estado']).size()
agrupado

In [ ]:
agrupado.plot.bar(color='gray')

In [ ]:
agrupado = dataset.groupby(['Gênero']).size()
agrupado

In [ ]:
agrupado.plot.bar(color='gray')

In [ ]:
#Score
dataset["Score"].describe()

In [ ]:
srn.boxplot(dataset['Score']).set_title('Score')

In [ ]:
srn.distplot(dataset["Score"]).set_title("Score")

In [ ]:
#idade
dataset["Idade"].describe()

In [ ]:
srn.boxplot(dataset["Idade"]).set_title("Idade")

In [ ]:
srn.distplot(dataset["Idade"]).set_title("Idade")

In [ ]:
#saldo
dataset["Saldo"].describe()

In [ ]:
srn.boxplot(dataset["Saldo"]).set_title("Saldo")

In [ ]:
srn.distplot(dataset["Saldo"]).set_title("Saldo")

In [ ]:
#salário
dataset["Salário"].describe()

In [ ]:
srn.boxplot(dataset["Salário"]).set_title("Salário")

In [ ]:
srn.distplot(dataset["Salário"]).set_title("Salário")

In [ ]:
#contamos valores NaN
#genero e salário
dataset.isnull().sum()

In [ ]:
#salarios
#remover NAN e substituir pela mediana
dataset["Salário"].describe()

In [ ]:
mediana = sts.median(dataset["Salário"])
mediana

In [ ]:
#substituindo NAN por mediana
dataset["Salário"].fillna(mediana, inplace=True)

In [ ]:
#verificando os NAN
dataset["Salário"].isnull().sum()

In [ ]:
#genero, falta de padronização e NAN
agrupado = dataset.groupby(["Gênero"]).size()
agrupado

In [ ]:
#total de NaN
dataset["Gênero"].isnull().sum()

In [ ]:
#preenchendo os NaN pela moda
dataset["Gênero"].fillna("Masculino", inplace=True)

In [ ]:
#total de NaN
dataset["Gênero"].isnull().sum()

In [ ]:
#padronizando f>feminino, m>masculino
dataset.loc[dataset["Gênero"] == "M", "Gênero"] = "Masculino"
dataset.loc[dataset["Gênero"].isin(["Fem", "F"]), "Gênero"] = "Feminino"

In [ ]:
#visualizar os dados
agrupado = dataset.groupby(["Gênero"]).size()
agrupado

In [ ]:
#idades fora do dominio
dataset["Idade"].describe()

In [ ]:
#visualizar 
dataset.loc[(dataset["Idade"] < 0) | (dataset["Idade"] > 120)]

In [ ]:
#calcular mediana da idade
mediana = sts.median(dataset["Idade"])
mediana

In [ ]:
#substituir mediana nos valores errados
dataset.loc[(dataset["Idade"] < 0) | (dataset["Idade"] > 120), "Idade"] = mediana

In [ ]:
#visualizar idade novamente
dataset.loc[(dataset["Idade"] < 0) | (dataset["Idade"] > 120)]

In [ ]:
#procura de dados duplicados, buscamos pelo ID
dataset[dataset.duplicated(["Id"], keep=False)]

In [ ]:
#remover duplicados
dataset.drop_duplicates(subset="Id", keep="first", inplace=True)
#visulizar
dataset[dataset.duplicated(["Id"], keep=False)]

In [ ]:
#estados fora do dominio
agrupado = dataset.groupby(["Estado"]).size()
agrupado

In [ ]:
dataset.loc[dataset["Estado"].isin(["RP", "SP", "TD"]), "Estado"] = "RS"

In [ ]:
#estados fora do dominio
agrupado = dataset.groupby(["Estado"]).size()
agrupado

In [ ]:
#outliers em salário, vamos considerar 2 desvios padrão
desv = sts.stdev(dataset["Salário"])
desv

In [ ]:
#definir padrão com maior que 2 desvios padrão
dataset.loc[(dataset["Salário"] >= 2*desv)]

In [ ]:
#Calcula a mediana do salário
mediana = sts.median(dataset["Salário"])
mediana

In [ ]:
#substitui a mediana do salário
dataset.loc[(dataset["Salário"] >= 2*desv)] = mediana

In [ ]:
#checa os valores
dataset.loc[(dataset["Salário"] >= 2*desv)]

In [ ]:
dataset.head()

In [ ]:
dataset.shape